<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guia RT - O Comércio local a seu alcance!</title>
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" id="menu">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="navbar-brand"class="navbar-brand" href="#">Guia RT</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="indexmobile.html">Home<span class="sr-only">(current)</span></a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li role="separator" class="divider"></li>
                  <li><a href="academiamobile.html">Academias</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="bancosmobile.html">Bancos</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Saúde e Medicina</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Hoteis e Pousadas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Organizações Religiosas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Beleza</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Bares, Restaurantes e Lanchonetes</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Supermercados e Conveniências</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Casas de Shows e Eventos</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Educação</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Outros</a></li>
                  <!-- Separador de dropdown <li role="separator" class="divider"></li> -->
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="contatomobile.html">Contato</a></li>
              <li><a href="listaTelefonicaMobile.html">Telefones Úteis</a></li>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" id = "box-text" class="form-control" placeholder="Buscar">
                </div>
                <button type="submit" class="btn btn-default"><i id = "botao-buscar" class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </ul>
          </div><!-- /.container-fluid -->
        </div>
      </nav>

    </header>
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <h1> Academia </h1>
        <hr>
      </div>
      <div class="col-sm-12" id="row" class="row">

<h5> A Academia Fun and Fit também oferece sala de avaliação física montando todo um programa individualizado de treinamento.</h5>
<h4>NOSSO OBJETIVO</h4>
<h5> Oferecer o desenvolvimento de atividades físicas que proporcionem prazer,
satisfação e bem estar. Buscando atender aos objetivos, expectativas e necessidades de nossos clientes,
tendo seu investimento valorizado e que todos tenham uma melhora na qualidade de vida.
Venha conhecer a academia, aguardamos sua visita! </h5>

      </div>


    </div><br />
    <img id="imagemdetalhe" src="images/academiamodelo.jpg"><br />


  <div class="col-sm-6  " id="caixaAvaliacao">

    <div id="tx">
      <p>Deixe seu comentário neste estabelecimento <i class="fa fa-heart" aria-hidden="true"></i></p>
    </div>

  <div class="estrelas">

      <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
        <label for="cm_star-1"><i class="fa"></i></label>
        <input type="radio" id="cm_star-1" name="fb" value="1"/>
        <label for="cm_star-2"><i class="fa"></i></label>
        <input type="radio" id="cm_star-2" name="fb" value="2"/>
        <label for="cm_star-3"><i class="fa"></i></label>
        <input type="radio" id="cm_star-3" name="fb" value="3"/>
        <label for="cm_star-4"><i class="fa"></i></label>
        <input type="radio" id="cm_star-4" name="fb" value="4"/>
        <label for="cm_star-5"><i class="fa"></i></label>
      <input type="radio" id="cm_star-5" name="fb" value="5"/>
  </div>

<textarea id="comentario" class="form-control"
 placeholder="Digite seu comentário..." type="text" rows="8" cola="37"></textarea>

 <form class="form-horizontal">
<fieldset>


<!-- Button -->
<div class="form-group">
 <label class="col-md-4 control-label" for="botao"></label>
 <div class="col-md-4">
   <button id="botaoE" name="botaoE" class="btn btn-primary">Enviar</button>
 </div>
</div>

</fieldset>
</form>

  </div>
</div>


      <footer>
        <div class="container-fluid">
          <h5> © Desenvolvido pelo Time GuiaRT <i class="fa fa-heart" aria-hidden="true"></i></h5>
        </div>
      </footer>


      <!--Dependência JQuery do bootstrap -->
      <script src="lib/jquery/jquery.js"></script>
      <!--Arquivo Bootstrap -->
      <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
