<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guia RT - O Comércio local a seu alcance!</title>
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" id="menu">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="navbar-brand"class="navbar-brand" href="#">Guia RT</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="indexmobile.html">Home<span class="sr-only">(current)</span></a></li>
              <li><a href="#">Avaliações</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li role="separator" class="divider"></li>
                  <li><a href="academiamobile.html">Academias</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="bancosmobile.html">Bancos</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Saúde e Medicina</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Hoteis e Pousadas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Organizações Religiosas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Beleza</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Bares, Restaurantes e Lanchonetes</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Supermercados e Conveniências</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Casas de Shows e Eventos</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Educação</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Outros</a></li>
                  <!-- Separador de dropdown <li role="separator" class="divider"></li> -->
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Contato</a></li>
              <li><a href="#">Telefones Úteis</a></li>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Buscar">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </ul>
          </div><!-- /.container-fluid -->
        </div>
      </nav>

    </header>

    <section id="singup_section">
      <div class="container-fluid">
        <div class="row">

          <h2 id="h2">Academias</h2>

          <div id="margem"class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <img id=box-image src="images/academiasesi.jpg" alt="Logo Estabelecimento">
                <div class="caption">
                  <h3 id="h3">Academia</h3>
                  <p id="p">Localizada na cidade de Rio Tinto, na região do Vale do Mamanguape, e com a experiência adquirida desde Junho de 1997 no desenvolvimento de programas físicos personalizados</p>
                  <p><a id="p"href="academiadescricaomobile.html" class="btn btn-primary" role="button">Visualizar</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="thumbnail">
                <img id=box-image src="images/academiasesi.jpg" alt="Logo Estabelecimento">
                <div class="caption">
                  <h3 id="h3">Academia</h3>
                  <p id="p">Localizada na cidade de Rio Tinto, na região do Vale do Mamanguape, e com a experiência adquirida desde Junho de 1997 no desenvolvimento de programas físicos personalizados</p>
                  <p><a id="p"href="#" class="btn btn-primary" role="button">Visualizar</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="thumbnail">
                <img id=box-image src="images/academiasesi.jpg" alt="Logo Estabelecimento">
                <div class="caption">
                  <h3 id="h3">Academia</h3>
                  <p id="p">Localizada na cidade de Rio Tinto, na região do Vale do Mamanguape, e com a experiência adquirida desde Junho de 1997 no desenvolvimento de programas físicos personalizados</p>
                  <p><a id="p"href="#" class="btn btn-primary" role="button">Visualizar</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> <!--Fim do Section dos Estabelecimentos Cadastrados-->
      <!-- Rodapé -->
      <footer>
        <div class="container-fluid">
          <h5> © Desenvolvido pelo Time GuiaRT <i class="fa fa-heart" aria-hidden="true"></i></h5>
        </div>
      </footer>


      <!--Dependência JQuery do bootstrap -->
      <script src="lib/jquery/jquery.js"></script>
      <!--Arquivo Bootstrap -->
      <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
