<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guia RT - Avaliações </title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <div class="row">
      <div class=span 4</div>
    <header>
      <nav class="navbar navbar-default" id="menu">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Guia RT</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ><a href="#">Home<span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="#">Avaliações</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Academias</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Bancos</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Saúde e Medicina</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Hoteis e Pousadas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Organizações Religiosas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Beleza</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Bares, Restaurantes e Lanchonetes</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Supermercados e Conveniências</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Casas de Shows e Eventos</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Educação</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Outros</a></li>
                  <!-- Separador de dropdown <li role="separator" class="divider"></li> -->
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Contato</a></li>
              <li><a href="#">Telefones Úteis</a></li>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Buscar">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </ul>
          </div><!-- /.container-fluid -->
        </div>
      </nav>

    </header>


<!-- caixa de busca das avaliações -->

<div class="container-fluid">
    <div id="caixap2">
      <div class="col-xs-10">

        <div class="input-group">
           <input name="search" value="" class="form-control" placeholder="Digite a Categoria ou Estabelecimento" type="text" >
           <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
           </span>
         </div>
      </div>
    </div>
</div>
 <!-- Pagina de Avaliações -->


<div class="container-fluid">

<div id="caixaAvaliacao">
<div class="col-sm-3 col-md-3">

  <img id="box-image" src="images/pizza.jpg" alt="Logo Estabelecimento">

      <div class="star-rating">
              <span class="fa fa-star-o" data-rating="1"></span>
              <span class="fa fa-star-o" data-rating="2"></span>
              <span class="fa fa-star-o" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" name="whatever" class="rating-value" value="3">
      </div>
              <form action="/html/tags/html_form_tag_action.cfm" method="post">
                <input name="comments" id="comentario" >
                <p><a href="#" class="btn btn-primary" role="button">Enviar</a></p>
              </form>
</div>
</div>
<div id="caixaAvaliacao2">
<div class="col-sm col-md-3">

  <img id="box-image" src="images/pizza.jpg" alt="Logo Estabelecimento">

      <div class="star-rating">
              <span class="fa fa-star-o" data-rating="1"></span>
              <span class="fa fa-star-o" data-rating="2"></span>
              <span class="fa fa-star-o" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" name="whatever" class="rating-value" value="3">
      </div>
              <form action="/html/tags/html_form_tag_action.cfm" method="post">
                <input name="comments" id="comentario" >
                <p><a href="#" class="btn btn-primary" role="button">Enviar</a></p>
              </form>
</div>
</div>
<div id="caixaAvaliacao3">
<div class="col-sm col-md-3">

  <img id="box-image" src="images/pizza.jpg" alt="Logo Estabelecimento">

      <div class="star-rating">
              <span class="fa fa-star-o" data-rating="1"></span>
              <span class="fa fa-star-o" data-rating="2"></span>
              <span class="fa fa-star-o" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <input type="hidden" name="whatever" class="rating-value" value="3">
      </div>
              <form action="/html/tags/html_form_tag_action.cfm" method="post">
                <input name="comments" id="comentario" >
                <p><a href="#" class="btn btn-primary" role="button">Enviar</a></p>
              </form>
</div>
</div>
</div>

      <!-- Rodapé -->
      <footer>
        <div class="container-fluid">
                    <h4> Estabelecimento inválido ou desatualizado?  Deixe sua opinião nos comentários  </h4>
          <h5> © Desenvolvido pelo Time GuiaRT <i class="fa fa-heart" aria-hidden="true"></i></h5>
        </div>
      </footer>
      <!-- Arquivo Javascript que carrega o Mapa -->
      <script src="js/maps.js"></script>
      <!-- Api Javascript do Google Maps -->
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTGTcBHi7BoxsuZ-HqrB5LO4RBdMFF9SQ&callback=initMap"></script>
      <!--Dependência JQuery do bootstrap -->
      <script src="lib/jquery/jquery.js"></script>
      <!--Arquivo Bootstrap -->
      <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
