<html lang="pt-br" ng-app="bancomobile">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Guia RT - O Comércio local a seu alcance!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="https://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <script src="https://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-messages.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <script>
      angular.module("bancomobile", ["ngMessages"]);
      angular.module("bancomobile").controller("bancomobileCtrl", function ($scope, uppercaseFilter){
        $scope.app="Página de listage de Bancos para Mobile";
        $scope.bancos =[
          {nome:"Banco do Brasil", 
           logo:"images/bancoBrasilRT.jpg",
           desc:"Banco do Brasil S.A. é uma instituição financeira brasileira, constituída na forma de sociedade de economia mista, com participação da União brasileira em 68,7% das ações. Juntamente com a Caixa Econômica Federal, o Banco Nacional de Desenvolvimento Econômico e Social, o Banco da Amazônia e o Banco do Nordeste, o Banco do Brasil é um dos cinco bancos estatais do governo brasileiro.",
           link:"bancodescricao.html"},
          {nome:"Bradesco", 
           logo:"images/BradescoRT.jpg",
           desc:"Bradesco é um banco brasileiro, atualmente é considerada a maior e mais valiosa marca da América Latina, consistindo no mais lucrativo banco privado do Brasil dos últimos anos, sendo o maior banco privado do Brasil,[4] cresceu principalmente através de fusões e aquisições.",
           link:"bancodescricao.html"},
          {nome:"Caixa Econômica Federal (CEF)", 
           logo:"images/CaixaRT.jpg",
           desc:"Caixa Econômica Federal (CEF), também conhecida como Caixa Econômica ou apenas Caixa é uma instituição financeira, sob a forma de empresa pública do governo federal brasileiro, com patrimônio próprio e autonomia administrativa com sede em Brasília (DF) e com filiais em todo o território nacional. É uma pessoa jurídica autônoma, vinculada ao Ministério da Fazenda.",
           link:"bancodescricao.html"}
        ];

      });
    </script>

</head>
<body ng-controller="bancomobileCtrl">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
                <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Guia-RT</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ><a href="indexmobile.html">Página inicial</a></li>
                <li><a href="#">Avaliações</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Categorias <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Academias</a></li><li class="divider"></li>
                        <li class="active"><a href="#">Bancos</a></li><li class="divider"></li>
                        <li><a href="#">Saúde e Medicina</a></li><li class="divider"></li>
                        <li><a href="#">Hoteis e Pousadas</a></li><li class="divider"></li>
                        <li><a href="#">Organizações Religiosas</a></li><li class="divider"></li>
                        <li><a href="#">Beleza</a></li><li class="divider"></li>
                        <li><a href="#">Bares, Restaurantes e Lanchonetes</a></li><li class="divider"></li>
                        <li><a href="#">Supermercados e Conveniências</a></li><li class="divider"></li>
                        <li><a href="#">Casas de Shows e Eventos</a></li><li class="divider"></li>
                        <li><a href="#">Educação</a></li><li class="divider"></li>
                        <li><a href="#">Outros</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Contato</a></li>
              <li><a href="#">Telefones Úteis</a></li>
              <form role="search" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Pesquisar" class="form-control">
                </div>
              </form>
            </ul>
        </div>
    </div>
</nav>

<br/>
<div class="container">

    <section id="singup_section">
      <div class="container-fluid">
        <div class="row">

          <h2 id="h2" style="text-align: center;">Lista de Bancos</h2>

          <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Pesquisar por nome"/><br/>
          <h1 ng-show="(bancos | filter:criterioDeBusca).length == 0" style="text-align: center;">Desculpe, não há bancos cadastrados com este nome.</h1>
          <div ng-repeat="banco in bancos | filter:criterioDeBusca">
          <div class="col-sm-6 col-md-4" >
            <div class="thumbnail">
              <img id=box-image src={{banco.logo}} alt="Logo Estabelecimento">
                <div class="caption">
                  <h3 id="h3">{{banco.nome}}</h3>
                  <p id="p">{{banco.desc}}</p>
                  <p><a id="p" href={{banco.link}} class="btn btn-primary" role="button">Visualizar</a></p>
                </div>
              </div>
            </div>
            </div>

      </section> 

</div>

      <footer>
        <div class="container-fluid" >
          <h5> © Desenvolvido pelo Time GuiaRT <i class="fa fa-heart" aria-hidden="true"></i></h5>
        </div>
      </footer>

</body>
</html>




