<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guia RT - O Comércio local a seu alcance!</title>
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" id="menu">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="navbar-brand"class="navbar-brand" href="#">Guia RT</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="mobile.html">Home<span class="sr-only">(current)</span></a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li role="separator" class="divider"></li>
                  <li><a href="academiamobile.html">Academias</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="bancosmobile.html">Bancos</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Saúde e Medicina</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Hoteis e Pousadas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Organizações Religiosas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Beleza</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Bares, Restaurantes e Lanchonetes</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Supermercados e Conveniências</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Casas de Shows e Eventos</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Educação</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Outros</a></li>
                  <!-- Separador de dropdown <li role="separator" class="divider"></li> -->
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Contato</a></li>
              <li><a href="#">Telefones Úteis</a></li>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Buscar">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </ul>
          </div><!-- /.container-fluid -->
        </div>
      </nav>

    </header>

    <!-- formulario cadastro -->
    <legend>Cadastro de Estabelecimentos</legend>

    <!-- Div do formulario inteiro-->
    <div class="form-group">
        <!-- Autor da postagem de estabelecimentos-->
      <label class="col-md-2 control-label" id="texto" for="Autor">Autor</label>
      <div class="col-md-2">
      <input id="caixaTexto" name="Autor" type="text" placeholder="Digite" class="form-control input-md" required="">


    </div>

    <!-- Adicionar titulo do texto-->

      <label class="col-md-2 control-label" id="texto" for="Titulo">Titulo do Estabelecimento</label>
      <div class="col-md-2">
      <input id="caixaTexto" name="Titulo" type="text" placeholder="Digite" class="form-control input-md">

      </div>


    <!-- Adicionar Descrição do texto-->

      <label class="col-md-2 control-label" id="texto" for="descricaodoestabelecimento">Descricao</label>
      <div class="col-md-3">
      <input id="caixaTexto" name="descricaodoestabelecimento" type="text" placeholder="Digite" class="form-control input-md">

      </div>


    <!-- adicionar Latitude-->

      <label class="col-md-2 control-label" id="texto" for="Localização">Latitude</label>
      <div class="col-md-2">
      <input id="caixaTexto" name="Localização" type="text" placeholder="Digite" class="form-control input-md">

      </div>


    <!--adicionar Longitude-->

      <label class="col-md-2 control-label" id="texto" for="Localizacao">Longitude</label>
      <div class="col-md-2">
      <input id="caixaTexto" name="Localizacao" type="text" placeholder="Digite" class="form-control input-md">


    </div>

    <!-- Selecionar categoria a ser inserida -->

      <label class="col-md-2 control-label" id="texto" for="Categorias">Categorias</label>
      <div class="col-md-2">
        <select id="caixaTexto" name="Categorias" class="form-control">
          <option value="1">Academias</option>
          <option value="2">Bancos</option>
          <option value="3">Saude e Medicina</option>
          <option value="4">Hoteis e Pousadas</option>
          <option value="5">Organizações Religiosas</option>
          <option value="6">Beleza</option>
          <option value="7">Bares, Restaurantes e Lanchonetes</option>
          <option value="8">Supermercados e Conveniências</option>
          <option value="9">Casas de Shows e Eventos</option>
          <option value="10">Educação</option>
          <option value="11">Outros</option>
        </select>
      </div>


    <!-- Anexar imagem -->

      <label class="col-md-2 control-label" id="texto" for="ImagemPrincipal">Imagem Principal</label>
      <div class="col-md-2">
        <input id="caixaTexto" name="ImagemPrincipal" class="input-file" type="file">
      </div>


    <!-- botão de confirmar ou cancelar cadastro -->

      <label class="col-md-2 control-label" for="Salvar"></label>
      <div class="col-md-4">
        <button id="botao1" name="Salvar" class="btn btn-success">Salvar</button>
        <button id="botao2" name="Cancelar" class="btn btn-danger">Cancelar</button>
      </div>
    </div>

    </fieldset>
    </form>


      <footer>
        <div class="container-fluid">
          <h5> © Desenvolvido pelo Time GuiaRT <i class="fa fa-heart" aria-hidden="true"></i></h5>
        </div>
      </footer>


      <!--Dependência JQuery do bootstrap -->
      <script src="lib/jquery/jquery.js"></script>
      <!--Arquivo Bootstrap -->
      <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
