{% extends "../base.html" %}
{% load staticfiles %}


{% block section %}
      <!-- Início do Section de contato-->
      <section id="singup_section">
            <div class="container-fluid">
                  <div class="row">
                        <hr>
                        <h2><i class="fa fa-hashtag" aria-hidden="true"></i>Fale Conosco</h2>
                        <hr>
                        <div class="col-md-12">
                              <div class="thumbnail" id="formContato">
                                    <div class="caption">
                                          <form name="formulario" action="http://scripts.redehost.com.br/formmail.aspx" method="post">
                                                <div class="form-group">
                                                      <input type=hidden name="destino" value="">
                                                      <input type=hidden name="enviado" value="">
                                                      <label for="textNome" class="control-label">Nome:</label>
                                                      <input id="textNome" class="form-control" placeholder="Informe seu Nome..." type="text"><br>
                                                      <label for="textNome" class="control-label">Email:</label>
                                                      <input id="textNome" class="form-control" placeholder="Informe seu Email..." type="text"><br>
                                                      <label for="textNome" class="control-label">Assunto:</label>
                                                      <input id="textNome" class="form-control" placeholder="Qual o assunto?" type="text"><br>
                                                      <label for="textNome" class="control-label">Mensagem:</label>
                                                      <textarea id="textNome" class="form-control" placeholder="Digite aqui a sua mensagem..." type="text" rows="15" cols="72"></textarea><br>
                                                      <p>
                                                      <button type="submit" class="btn btn-success">Enviar</button>
                                                      <button type="reset" class="btn btn-warning">Limpar Formulário</button>
                                                      </p>
                                                </div>
                                          </form>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section> 
      <!--Fim do Section de Contato-->        
{% endblock %}
