<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guia RT</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
        <div class="col-md-12 col-sm-6">
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Avaliações</a></li>
                <li role="presentation"><a href="#">Categorias</a></li>
                <li role="presentation"><a href="#">Contatos</a></li>
                <li role="presentation"><a href="#">Telefones Úteis</a></li>
                <li>
                  <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Buscar...">
                    </div>
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form> <!-- End of Form Search-->
              <li/>
            </ul> <!-- End navbar creator -->
          </div> <!-- End div Col-md-12 col-sm-6-->
        </div><!-- End row-->
      </div> <!-- End container -->
    </header>
<!--
    <div id="map"></div>
    <script>

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -6.809044, lng: -35.080526},
    zoom: 16
  });
}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTGTcBHi7BoxsuZ-HqrB5LO4RBdMFF9SQ&callback=initMap"
        async defer></script>

-->
  </body>
</html>
