<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guia RT - O Comércio local a seu alcance!</title>

    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" id="menu">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
             data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Guia RT</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-collapse-1"><!--Lista de Links-->
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
              <li><a href="#">Avaliações</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Academias</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Bancos</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Saúde e Medicina</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Hoteis e Pousadas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Organizações Religiosas</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Beleza</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Bares, Restaurantes e Lanchonetes</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Supermercados e Conveniências</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Casas de Shows e Eventos</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Educação</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Outros</a></li>
                  <!-- Separador de dropdown <li role="separator" class="divider"></li> -->
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Contato</a></li>
              <li><a href="#">Telefones Úteis</a></li>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Buscar">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </ul>
              </div>

          </div><!-- /.container-fluid -->
        </div>
      </nav>
      </header>
    <div id = "titulo">Telefones Úteis</div>

    <div id = "infobox" class="container-fluid"><!--Container das imagens-->
      <div  class="row">

        <table class ="col-md-12"> <!--Criando a tabea-->

        <tr><!--Linha1-->
          <td class ="col-md-6"><!--Coluna1-->
            <div class ="col-md-4"> <img src= "images/samu.jpg"></div><!--Div de imagem-->
            <div class ="col-md-8"><!--Div de Texto-->
            <p></br>

              SAMU</br>
              Telefone: 192; </br>
              Endereço: Rua Assis Chateubraind;</br>
              Bairro: Centro.

        </p></div>
        </td>
          <td class ="col-md-6" > <!--Coluna2-->
              <div class ="col-md-4"><img src= "images/pm.jpeg"></div>
              <div class ="col-md-8">
              <p></br>Polícia Militar da Paraíba</br>
                TELEFONE: 190;</br>
                ENDEREÇO: Rua Assis Chateaubriand, S/Nº – Centro – Rio Tinto – PB</br>

          </p></div>
        </td>
        </tr>

        <tr><!--Linha2-->
          <td class ="col-md-6" ><!--Coluna1-->
            <div class ="col-md-4"><img src= "images/as.jpeg"></div>
            <div class ="col-md-8">
            <p></br></br> Assistência Social</br>
              TELEFONES: (083) 3291 2222 (083) 98795 5407;</br>
              ENDEREÇO ELETRÔNICO: pmrt.comunicacao@gmail.com
            </p></div>
        </td>
          <td class ="col-md-6" ><!--Coluna2-->
              <div class ="col-md-4"><img src= "images/cagepa.jpeg"></div>
              <div class ="col-md-8">
              <p></br></br> Cagepa</br>
                      Endereço: Rua Othon Barreto, S/Nº -Mamanguape;
                      TELEFONE:(83) 3231-8099;</br>
                      ATENDIMENTO 24Hrs: 115;
          </p></div>
        </td>
        </tr>

        <tr><!--Linha3-->
          <td class ="col-md-6"><!--Coluna1-->
            <div class ="col-md-4"> <img src= "images/energisa.jpeg"></div>
            <div class ="col-md-8">
            <p></br>Energisa</br>
              ENDEREÇO: Rua Travessa da Mangueira, S/Nº - Centro - Rio Tinto - PB</br>
            TELEFONES: 0800 083 0196  +55 800 083 0196 ;</br>

        </p></div>
        </td>
          <td class ="col-md-6"><!--Coluna2-->
              <div class ="col-md-4"><img src= "images/as.jpeg"></div>
              <div class ="col-md-8">
              <p></br>ENDEREÇO: Endereço:   Praça Frederico Lundgren, s/ nº - Bairro: Vila Regina</br>
            TELEFONES:(83)3291-2245;</br>
            E-mail:  pmrtpaif@riotinto.pb.gov.br</br>


          </p></div>
        </td>
        </tr>


      </table><!--Fim da tabela-->


    </div>
  </div><!-- /.container-fluid --> -->
  <footer>
    <div class="container-fluid">
      <h5> © Desenvolvido pelo Time GuiaRT <i class="fa fa-heart" aria-hidden="true"></i></h5>
    </div>
  </footer>
</body>
</html>
