{% extends "../base_restrict.html" %}
{% load staticfiles %}


    {% block section %}
    <section id="singup_section">
      <div class="container-fluid">
        <div class="row">
          <h2>{{ local.categorias }}</h2>
          {% for local in locais %}
          <div class="col-sm-6 col-md-4" style="text-align: center">
            <div class="thumbnail">
              <img id=box-image src="images/academiasesi.jpg" alt="Logo Estabelecimento">
                <div class="caption">
                  <h3>{{ local.titulo_local }}</h3>
                  <p>{{ local.categorias }}</p>
                  <a href="{% url 'edit_local' local.id %}" class="btn btn-primary" role="button">Editar</a>
                  <a href="{% url 'delete_local' local.id %}" class="btn btn-danger" role="button">Deletar</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section> <!--Fim do Section dos Estabelecimentos Cadastrados-->
    {% endblock %}
