@@font-face {
  font-family: 'Yatra One'
  src:url("../fonts/yatraone/YatraOne-Regular.ttf");
  font-size: 1em;
}

@@font-face {
  font-family: 'Lobster'
  src:url("../fonts/lobster/Lobster-Regular.ttf");
  font-size: 1em;
}


html, body{
  max-width: 1128px;
  margin: 0;
  padding: 0;
  height: 65%;
  margin-right: 0;
  padding:  0 2.4em 0 2.4em;
}

header{
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 20px;
  width: 65%;
}

header #menu{
    border-radius: 10px;
    font-family: Lobster;
    font-size: 9px;
    color: #fff;
    width: 730px;
    height: 100%;

}

header #menu #navbar-collapse-1 ul.dropdown-menu li{
  font-size: 17px;
}

header #menu #navbar-collapse-1 ul li{
  color: rgb(0, 0, 0);
}

#map{
  height: 50%;
  margin-left: 65px;
  margin-right: 65px;
  border-radius: 10px;
  max-width: 778px;

}
#singup_section div.container-fluid div.row div.col-sm-6.col-md-4{
  width: 180px;
  margin-left: 85px;
}

section hr{
    margin-left: 65px;
    margin-right: 65px;
}

section h2{
  font-family: Lobster;
  text-align: center;
  color: rgba(99, 93, 93, 0.79);
}

#box-image{
  border-radius: 10px;
  margin-top: 10px;
}
#imagemacademia{
  height: 400px;
  
}
#h3{
  font-size: 15px;
}
#p{
  font-size: 10px;
}
#h2{
  font-size: 20px;
}
footer{
  color: #999999;
  text-align: center;
  font-family: Yatra One;
}

footer h5{
  font-size: 12px;
}
