@@font-face {
  font-family: 'Yatra One'
  src:url("../fonts/yatraone/YatraOne-Regular.ttf");
  font-size: 1em;
}

@@font-face {
  font-family: 'Lobster'
  src:url("../fonts/lobster/Lobster-Regular.ttf");
  font-size: 1em;
}
#navbar-brand { --/*configuração da barra de menu*/
    float: none;
    height: 80px;
    padding: 10px 319px;
    font-size: 54px;
    line-height: 1.6;
}
#botao-buscar{ --/*Dimensionamento do botão de busca*/
  margin-left: 470px;

}

html, body{
  max-width: 1128px;
  margin: 0;
  padding: 0;
  height: 65%;
  margin-right: 0;
  padding:  0 2.4em 0 2.4em;

}

header{
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 20px;
  width: 65%;
}

header #menu{
    border-radius: 10px;
    font-family: Lobster;
    font-size: 55px;
    color: #fff;
    width: 900px;
    height: 277px;
    margin-left: -30px;

}

header #menu #navbar-collapse-1 ul.dropdown-menu li{
  font-size: 42px;
}

header #menu #navbar-collapse-1 ul li{
  color: rgb(0, 0, 0);
}

#map{
  height: 100%;

  border-radius: 10px;
  max-width: 100%;

}
#singup_section div.container-fluid div.row div.col-sm-6.col-md-4{
  width: 180px;
  margin-left: 85px;
}
#row{
  margin-left: -80px;
  margin-right: -80px;
}
section hr{
    margin-left: 65px;
    margin-right: 65px;
}

section h2{
  font-family: Lobster;
  text-align: center;
  color: rgba(99, 93, 93, 0.79);
}
#margem{
  margin-bottom: 80px;
}
#box-image{
  border-radius: 10px;
  margin-top: 10px;
}
#imagemacademia{
  height: 550px;
  margin-left: 65px;


}
#h3{
  font-size: 35px;
}
#p{
  font-size: 27px;
}
#h2{
  font-size: 40px;
}
footer{
  color: #999999;
  text-align: center;
  font-family: Yatra One;
}

footer h5{
  font-size: 12px;
}

#formContato{ --/*Formatação do formulário de contato*/
  background:#F8F8F8;
  color: rgb(99,93,93);
  margin: 0 -120px 0 10px;
  font-size: 35px;
}
#textNome{--/*Formatação do formulário de contato: aumento do campo de texto dos inputs*/
  font-size: 35px;
  height: 80px;
}
