{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guia RT - O Comércio local a seu alcance!</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
  </head>
  <body>
    <section>
      <div class="image-login">
        <img src="{% static 'images/Guia RT.png'%}" alt="" />
      </div>
    </section>

    <section id="login">
      <div class="container" id="pageLogin">
        <div class="row" id="rowLogin">
            <div class="col-md-offset-5 col-md-3">
                <div class="form-login">
                <h4 class="text-align">Bem vindo ao Guia RT.</h4>
                {% if message %}
                <b>{{ message }}</b>
                {% endif %}
                <form action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
                  {{ form.login.errors }}
                  <span class="label label-default">Login:</span>
                  {{ form.login }}
                  </br>
                  <span class="label label-default">Senha:</span>
                  {{ form.senha }}
                  </br>
                  <div class="wrapper">
                      <input style="margin-top:15px" type="submit" value="Login" class="btn btn-primary btn-m"/>
                  </div>
                </form>
                </div>
                </div>

            </div>
        </div>
      </div>
    </section>
  </body>
</html>
