{% extends "../base.html" %}
{% load staticfiles %}

{% block section %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Guia RT - O Comércio local a seu alcance!</title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body>

      <div class="container-fluid">
        <div class="row">
          <div class="container">
    <div>
        <h1>
            Academia
        </h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div>
              <div class="texto" itemprop="description">
                    <p>Localizada na cidade de Rio Tinto, na região do Vale do Mamanguape, e com a experiência adquirida desde Junho de 1997 no desenvolvimento de programas físicos personalizados, a Academia Fun and Fit conta com uma ampla área de "500 m²" proporcionando ao aluno:</p>
<p>Salas climatizadas, ampla área de musculação, sala cardiovascular contendo esteiras e bicicletas ergométricas, sala de artes marciais, piscina aquecida.</p>
<p>Nossa equipe conta com os melhores profissionais do Vale credenciados junto ao CREF (Conselho Regional de Educação Física), preparados para lhe ajudar a alcançar os seus objetivos e com um grande diferencial: ABERTO DAS 07:00 às 24:00 - HORÁRIO LIVRE.</p>
<p>A Academia Fun and Fit também oferece sala de avaliação física montando todo um programa individualizado de treinamento.</p>
<p>NOSSO OBJETIVO</p>
<p>Oferecer o desenvolvimento de atividades físicas que proporcionem prazer, satisfação e bem estar. Buscando atender aos objetivos, expectativas e necessidades de nossos clientes, tendo seu investimento valorizado e que todos tenham uma melhora na qualidade de vida.</p>
<p>Venha conhecer a academia, aguardamos sua visita!</p>
</div>
</div>
</div>
<div class="column-right-inner">
  <img id="academiaimagem"src="images/academiamodelo.jpg" alt="" />

</div>
</div>
</div>
</div>

    </body>
</html>
  {% endblock %}
