{% extends "../base.html" %}
{% load staticfiles %}

<!-- caixa de busca das avaliações -->
{% block section %}
<div class="container-fluid">
    <div id="caixap2">
      <div class="col-xs-10">

        <div class="input-group">
           <input name="search" value="" class="form-control" placeholder="Digite a Categoria ou Estabelecimento" type="text" >
           <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
           </span>
         </div>
      </div>
    </div>
</div>
 <!-- Pagina de Avaliações -->


<div class="container-fluid">

<div id="caixaAvaliacao">
<div class="col-sm-3 col-md-3">

  <img id="box-image" src="{% static 'images/pizza.jpg' %}" alt="Logo Estabelecimento">

  <div class="estrelas">
    <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
      <label for="cm_star-1"><i class="fa"></i></label>
      <input type="radio" id="cm_star-1" name="fb" value="1"/>
      <label for="cm_star-2"><i class="fa"></i></label>
      <input type="radio" id="cm_star-2" name="fb" value="2"/>
      <label for="cm_star-3"><i class="fa"></i></label>
      <input type="radio" id="cm_star-3" name="fb" value="3"/>
      <label for="cm_star-4"><i class="fa"></i></label>
      <input type="radio" id="cm_star-4" name="fb" value="4"/>
      <label for="cm_star-5"><i class="fa"></i></label>
    <input type="radio" id="cm_star-5" name="fb" value="5"/>
  </div>

          <form action="/html/tags/html_form_tag_action.cfm" method="post">
            <input name="comments" id="comentario" >
            <p><a href="#" class="btn btn-primary" role="button">Enviar</a></p>
          </form>
</div>
</div>
<div id="caixaAvaliacao2">
<div class="col-sm col-md-3">

  <img id="box-image" src="{% static 'images/pizza.jpg' %}" alt="Logo Estabelecimento">

  <div class="estrelas">
    <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
      <label for="cm_star-1"><i class="fa"></i></label>
      <input type="radio" id="cm_star-1" name="fb" value="1"/>
      <label for="cm_star-2"><i class="fa"></i></label>
      <input type="radio" id="cm_star-2" name="fb" value="2"/>
      <label for="cm_star-3"><i class="fa"></i></label>
      <input type="radio" id="cm_star-3" name="fb" value="3"/>
      <label for="cm_star-4"><i class="fa"></i></label>
      <input type="radio" id="cm_star-4" name="fb" value="4"/>
      <label for="cm_star-5"><i class="fa"></i></label>
    <input type="radio" id="cm_star-5" name="fb" value="5"/>
  </div>

          <form action="/html/tags/html_form_tag_action.cfm" method="post">
            <input name="comments" id="comentario" >
            <p><a href="#" class="btn btn-primary" role="button">Enviar</a></p>
          </form>
</div>
</div>
<div id="caixaAvaliacao3">
<div class="col-sm col-md-3">

  <img id="box-image" src="{% static 'images/pizza.jpg' %}" alt="Logo Estabelecimento">


<div class="estrelas">
  <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
    <label for="cm_star-1"><i class="fa"></i></label>
    <input type="radio" id="cm_star-1" name="fb" value="1"/>
    <label for="cm_star-2"><i class="fa"></i></label>
    <input type="radio" id="cm_star-2" name="fb" value="2"/>
    <label for="cm_star-3"><i class="fa"></i></label>
    <input type="radio" id="cm_star-3" name="fb" value="3"/>
    <label for="cm_star-4"><i class="fa"></i></label>
    <input type="radio" id="cm_star-4" name="fb" value="4"/>
    <label for="cm_star-5"><i class="fa"></i></label>
  <input type="radio" id="cm_star-5" name="fb" value="5"/>
</div>

        <form action="/html/tags/html_form_tag_action.cfm" method="post">
          <input name="comments" id="comentario" >
          <p><a href="#" class="btn btn-primary" role="button">Enviar</a></p>
        </form>
</div>
</div>
</div>
{% endblock %}
