{% extends "../base.html" %}

{% load staticfiles %}

<section id="singup_section">
      <div class="container-fluid">
        <div class="row">

          <div id= "titulo"><h2>Telefones Úteis</h2></div>
          <div id="margem"class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <img id=box-image src="images/samu.png" alt="Logo Estabelecimento">
                <div class="caption">
                  <h3 id="h3">SAMU</h3>
                  <p id="p">
                  Telefone: 192; </br>
                  Endereço: Rua Assis Chateubraind;</br>
                  Bairro: Centro.</p>

                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="thumbnail">
                <img id=box-image src="images/policia.png" alt="Logo Estabelecimento">
                <div class="caption">
                  <h3 id="h3">Polícia Militar da Paraíba</h3>
                  <p id="p">
                    Telefone: 190;</br>
                    Endereço: Rua Assis Chateaubriand, S/Nº – Centro – Rio Tinto – PB></p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="thumbnail">
                <img id=box-image src="images/prefeitura.jpg" alt="Logo Estabelecimento">
                <div class="caption">
                  <h3 id="h3">Prefeitura</h3>
                  <p id="p">Endereço:   Praça Frederico Lundgren, s/ nº - </br>Bairro: Vila Regina</br>
                Telefone::(83)3291-2245;</br>
                E-mail:  pmrtpaif@riotinto.pb.gov.br</br></p>

                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="thumbnail">
                <img id=box-image src="images/energisa.png" alt="Logo Estabelecimento">
                <div class="caption">
                  <h3 id="h3">Energisa</h3>
                  <p id="p">
                    Endereço: Rua Travessa da Mangueira, S/Nº - Centro - Rio Tinto - PB</br>
                    Telefones: 0800 083 0196  </br>+55 800 083 0196;</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="thumbnail">
                <img id=box-image src="images/cras.png" alt="Logo Estabelecimento">
                <div class="caption">
                  <h3 id="h3">CRAS</h3>
                  <p id="p">
                    Telefones: (083) 3291 2222 (083) 98795 5407;</br>
                    Endereço Eletrônico: pmrt.comunicacao@gmail.com</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section> <!--Fim do Section dos Estabelecimentos Cadastrados-->

{% endblock %}
