{% extends "../base.html" %}
{% load staticfiles %}


{% block section %}
      <!-- Início do Section de contato-->
      <section id="singup_section">
        <div class="container-fluid">
          <div class="row">
            <hr>
            <h2><i class="fa fa-hashtag" aria-hidden="true"></i>Fale Conosco</h2>
            <hr>
            <div class="col-sm-12 col-md-9">
              <div class="thumbnail" id="formContato">
                <div class="caption">
                  <form name="formulario" action="" method="post">  {% csrf_token %}

                    <p><b>Nome:</b><br>
                    {{ form.nome }}
                    <p><b>Email:</b><br>
                    {{ form.email }}
                    <p><b>Mensagem:</b><br>
                    {{ form.mensagem }}
                    <p>
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <script>
                      alert('{{ message }}');
                    </script>

                    <button type="reset" class="btn btn-warning">Limpar Formulário</button>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section> <!--Fim do Section de Contato-->
{% endblock %}
