{% load staticfiles %}

<html lang="pt-br" ng-app="restaurantemobile">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Guia RT - O Comércio local a seu alcance!</title>

    <script src="{% static 'js/angular.js' %}"></script>
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/angular-messages.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>


    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

    <script>
      angular.module("restaurantemobile", ["ngMessages"]);



      angular.module("restaurantemobile").controller("restaurantemobileCtrl", function ($scope, uppercaseFilter){
        $scope.app="Página de listagem de Restaurantes";

        $.getJSON('/local/json', function(data) {
            console.log(data);
            $scope.locais=data;
        });


      });


    </script>



</head>
<body ng-controller="restaurantemobileCtrl">

<div ng-include="'{% static 'ajax/navbar.html' %}'"></div>


<br/>
<div class="container">

    <section id="singup_section">
      <div class="container-fluid" >
        <div class="row" >

          <h2 id="h2" style="text-align: center;">Lista de Bares, Restaurantes e Lanchonetes</h2>

          <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Pesquisar por nome"/><br/>
          <h1 ng-show="(locais | filter:criterioDeBusca).length == 0" style="text-align: center;">Desculpe, não há bares, restaurantes ou lanchonetes cadastrados com este nome.</h1>
          {% verbatim %}
            <div ng-repeat="local in locais | filter:criterioDeBusca | filter:local.categoria='BRL'" >
            <div class="col-sm-6 col-md-4" >
              <div class="thumbnail">
                <img id=box-image src= alt="Logo Estabelecimento">
                  <div class="caption">
                    <h3 id="h3">{{local.titulo_local}}</h3>
                    <p id="p" style="text-align: justify">{{local.descricao}}</p>
                    <p><a id="p" href="/localdesc_mobile/{{local.pk}}" class="btn btn-primary" role="button">Visualizar</a></p>


                  </div>
                </div>
              </div>
              </div>
              {% endverbatim %}
      </section>

    </div>
</div>
</div>
<div ng-include="'{% static 'ajax/footer.html' %}'"></div>
</body>
</html>

